html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
}

body > header {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 3fr auto;
    align-items: center;
}
body > header > h1 {
    height: 36px;
    margin: 0;
}
body > header > h1:after {
    background-image: url(briefcase.png);
    background-size: 36px 36px;
    display:inline-block;
    width: 36px;
    height: 36px;
    content:" ";
}

header > nav > ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.links a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 10px;
    font-weight: bold;
}

