@back-color: rgb(40, 40, 226);
@back-color-light: lighten(@back-color, 20%);

.flex-between {
    display: flex;
    justify-content: space-between;
}

body {
    background-color: @back-color;
    header {
        .flex-between;
        ul {
            list-style-type: none;
            displa
        }
    }
}

